{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<link href={% static 'css/home.css/' %} rel='stylesheet' />
<div class='contanier mt-5'>
    <h1>Quiz</h1>
    <br>
    <form method='POST' action="">
        {% csrf_token %}
        {% for q in questions %}
            <div class='form-group'>
                <label for='question'>{{q.question}}</label>
            </div>
            <div class='form-check'>
                <div class='form-check'>
                    <input class='form-check-input' type='radio' name={{q.question}} id='radio1' value={{q.option1}} />
                    <label class='form-check-label' for='radio1'>{{q.option1}}</label>
                </div>
                
                <div class='form-check'>
                    <input class='form-check-input' type='radio' name={{q.question}} id='radio2' value={{q.option2}} />
                    <label class='form-check-label' for='radio2'>{{q.option2}}</label>
                </div>
                
                <div class='form-check'>
                    <input class='form-check-input' type='radio' name={{q.question}} id='radio3' value={{q.option3}} />
                    <label class='form-check-label' for='radio3'>{{q.option3}}</label>
                </div>
                
                <div class='form-check'>
                    <input class='form-check-input' type='radio' name={{q.question}} id='radio4' value={{q.option4}} />
                    <label class='form-check-label' for='radio4'>{{q.option4}}</label>
                </div>
                <br>
            </div>
        {% endfor %}
        <input id='timer' type='hidden' name='timer' value='' />
        <br>
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
    <br>
    <h4><a href={% url 'addquestions' %}>Click here</a> To add more Questions</h4>
</div>
{% endblock content %}